<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Revisión</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Pantalla de Revisión</h1>
    </header>
    <main>
        <h2>Eventos Sísmicos</h2>
        <form method="post" action="{% url 'tomarEvento' %}">
    {% csrf_token %}
    <table>
        <tr>
            <th>Seleccionar</th>
            <th>Fecha de Ocurrencia</th>
            <th>Fecha de Fin</th>
            <th>Latitud Epicentro</th>
            <th>Longitud Epicentro</th>
            <th>Latitud Hipocentro</th>
            <th>Longitud Hipocentro</th>
            <th>Magnitud</th>
        </tr>
        {% for evento in eventos %}
        <tr>
            <td>
                <input type="radio" name="evento_seleccionado"
                    value="{{ evento.fechaHoraOcurrencia }}|{{ evento.latitudEpicentro }}|{{ evento.longitudEpicentro }}">
            </td>
            <td>{{ evento.fechaHoraOcurrencia }}</td>
            <td>{{ evento.fechaHoraFin }}</td>
            <td>{{ evento.latitudEpicentro }}</td>
            <td>{{ evento.longitudEpicentro }}</td>
            <td>{{ evento.latitudHipocentro }}</td>
            <td>{{ evento.longitudHipocentro }}</td>
            <td>{{ evento.valorMagnitud }}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Seleccionar Evento</button>
    </main>
    <footer>
        <p>&copy; 2025</p>
    </footer>
</body>
</html>
